<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Main</title>
    </head>
    <body>
        <table height ="100" widht = "200" cellspacing="10">
            <tr>
                <td><button onclick="location.href='add'">Create FlashCard</button></td>
                <td><button onclick="location.href='show'">Start Lesson</button></td>
                <!--
                <td><button onclick="location.href='<c:url value='show'/>'">Start Lesson</button></td>
                -->
            </tr>
        </table>            
    </body>
</html>

