<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html     xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
            <link href="/EnglishFlashCard/main.css" />
            <title>${title}</title>
            <script src="https://code.jquery.com/jquery-latest.min.js"></script>
            <script>
                $(document).ready(function () {
                    $("#answerButton").click(function () {
                        $("#answerButton").hide();
                        $("#answerText").show();
                        $("#thumbs").show();
                    });
                });
            </script>
    </head>
    <body>
        <!--form action="<%=request.getContextPath()%>/logic/logout" method="POST"-->
        <th:form action="@{/logic/logout}" method='POST'>
            <input type="submit" value="Logout"/>
        </th:form>
        <table class="mainTable" cellspacing="10">
            <tr with="300">
                <td>Pytanie: </td><td th:text="${flash_card.question}">Question</td>
            </tr>
            <tr with="300">
                <td>Odpowiedź: </td><td><button id="answerButton">ShowAnswer</button><span id="answerText" style="display: none" th:text="${flash_card.answer}">Answer</span></td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="thumbs" style="display: none;">
                        <a th:href="@{/logic/incorrect}"><img th:src="@{/pictures/thumb-down.png}" style="width: auto; padding: 15px; text-decoration: none;"/></a>
                        <a th:href="@{/logic/correct}"><img th:src="@{/pictures/thumb-up.png}" style="width: auto; padding: 15px; text-decoration: none;"/></a>
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>
